
main {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

p {
    margin : 0;
}

a {
    color: #3290eb;
}
a:hover {
    color: #06c755;
}

article {
    padding: 32px 0 16px 0;
}

.section-title {
    font-size: 24pt;
    line-height: normal;

    text-align: center;
    padding: 16px 0 20px 0;

    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}


.intro {
    max-width: 640px;

    font-size: 14pt;
    text-align: left;
    margin: 0 auto;
    padding: 16px 0;

    border-bottom: 1px solid #c0c0c0;
}

.intro p {
    padding-bottom: 16px;
}

.intro-big {
    font-size: 18pt;
    text-align: center;
}


.profile {
    display: block;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    line-height: 0;
    text-align: center;
}
.profile-img {
    display: inline-block;
    background-image: url('../assets/profile.jpg');
    width: 128px;
    height: 148px;
}
.profile-text {
    display: inline-block;
    vertical-align: top;
    line-height: normal;

    padding: 16px 0;
    margin-left: 32px;
    font-size: 13pt;
    text-align: left;
}
.profile-big {
    font-size: 16pt;
    padding-bottom: 8px;
}


#pro-ex {
    line-height: 0;
}
.line {
    display: flex;
}
.line-l,
.line-r {
    display: flex;

    width: 50%;
    min-height: 32px;

    vertical-align: top;
    line-height: normal;

    padding: 32px 0;
}

.line-l {
    border-right: 1px solid #c0c0c0;
    margin-left: -1px;
}
.line-r {
    border-left: 1px solid #c0c0c0;
    margin-right: -1px;
}

.content {
    width: 76%;
    padding: 8px;
    border: 1px solid #c0c0c0;
}

.link-line {
    width: 24%;
    height: 32px;
    border-bottom: 1px solid #c0c0c0;
}

.white-space {
    padding-left: 8px;
}
.project-white-space {
    padding-left: 16px;
}

.edu-detail {
    padding-top: 16px;
    font-style: italic;
}


.open-src-logo {
    display: inline-block;
    width: 33%;
    margin-top: 64px;
    text-align: center;
}
.open-src-logo img {
    width: 200px;
}

.tech-stack-logo {
    display: inline-block;
    width: 25%;
    margin-top: 64px;
    text-align: center;
}
.tech-stack-logo img {
    width: 128px;
    vertical-align: middle;
}


.paper,
.patent,
.award {
    font-size: 14pt;

    max-width: 960px;
    border: 1px solid #c0c0c0;

    padding: 16px;
    margin: 16px auto;
}
.paper .title,
.patent .title {
    color: #3290eb;
}

.award {
    font-size: 12pt;
}

.hidden {
    opacity: 0;
}


@media screen and (max-width: 960px) {
    .link-line {
        width: 15%;
    }

    .content { 
        width: 85%;
    }
}

@media screen and (max-width: 900px) {
    .open-src-logo {
        width: 50%;
    }

    .tech-stack-logo {
        width: 33%;
    }
}

@media screen and (max-width: 830px) {
    .line {
        display: block;
    }
    .link-line {
        display: none;
    }
    .line-l,
    .line-r { 
        width: 100%;
        border: none;
        margin: 0 auto;
        padding: 8px 0;
    }
    .line-e {
        display: none;
    }
    .content {
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {
    .open-src-logo {
        width: 100%;
    }
    .tech-stack-logo {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .tech-stack-logo {
        width: 100%;
    }
}